.attribution {
  margin: 0 0 2rem 10rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  color: var(--input-text);
}

.attribution a:link,
a:visited {
  text-decoration: none;
  color: var(--violet);
}

.attribution a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .attribution {
    font-size: 1.4rem;
    margin: 0 0 2rem 0;
  }
}

@media (max-width: 425px) {
  .attribution {
    font-size: 1.2rem;
  }
}
